@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Poppins, sans-serif;
  margin: 0;
  background-color: #e5e5e5;
  display: grid;
  grid-template-areas: "header" "works" "footer";
}

/* Header */

header {
  background-color: white;
  height: 88.42vh;
  border-bottom-left-radius: 14%;
  grid-area: header;
  background-image: url("./img/header-shapes-mobile.svg");
  background-repeat: no-repeat;
}

nav {
  padding-right: 6.4%;
  padding-left: 6.4%;
  display: flex;
  align-items: center;
  list-style: none;
  height: 48px;
}

nav img {
  display: block;
}

li {
  list-style: none;
}

.logo {
  flex: 1;
  text-decoration: none;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
}

.headline {
  display: flex;
  flex-direction: column;
}

.headline h1 {
  width: 327px;
  height: 150px;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  line-height: 52px;
  margin-top: 114px;
  color: #172b4d;
  margin-right: 24px;
  margin-left: 24px;
}

.presentation {
  width: 327px;
  height: 146px;
  margin-top: 12px;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-right: 24px;
  margin-left: 24px;
}

.connect {
  height: 24px;
  margin-top: 12px;
  text-transform: uppercase;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  margin-left: 24px;
  color: #7f8cff;
}

.social-media {
  display: flex;
  justify-items: start;
  height: 20px;
  align-items: stretch;
  width: 170.17px;
  margin-left: 24px;
  margin-top: 12px;
}

.flex-item {
  flex: 1;
}

.card-works {
  margin-top: 114px;
  grid-area: works;
  box-sizing: border-box;
  background-color: white;
  margin-bottom: 88px;
  width: 327px;
  height: 571px;
  border-radius: 16px;
  border: 1px #dfe1e6 solid;
  margin-right: auto;
  margin-left: auto;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

[alt*="Snapshoot Portfolio"] {
  width: 295px;
  height: 220px;
  margin-right: auto;
  margin-left: auto;
}

.project-title {
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin-bottom: 12px;
  margin-top: 7px;
}

.frame-2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 75px;
  margin-bottom: 12px;
  width: 236px;
  height: 32px;
  margin-left: -4px;
}

ul :nth-child(2n) {
  display: flex;
}

.client {
  font-weight: 600;
  font-style: normal;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  text-transform: uppercase;
}

.role,
.year-label {
  font-weight: 600;
  font-style: normal;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.primary-text {
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-bottom: 12px;
}

.tags {
  display: flex;
  width: 203px;
  height: 24px;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 24px;
  margin-left: -6px;
}

.top {
  width: 327px;
  height: 409px;
  margin-top: 114px;
  margin-left: auto;
  margin-right: auto;
}

/* footer */

.base-about-myself {
  width: 375px;
  height: 1263px;
  margin-top: 114px;
  background-color: white;
  border-top-right-radius: 85px;
}

.base-about-myself h2 {
  width: 327px;
  height: 101px;
  text-align: left;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: 52px;
  color: #172b4d;
}

.top-presentation {
  width: 327px;
  height: 144px;
  margin-right: auto;
  margin-left: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.top-connect {
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin-top: 12px;
  text-transform: uppercase;
}

.top-social-media {
  display: flex;
  justify-items: start;
  height: 20px;
  align-items: stretch;
  width: 170.17px;
  margin-top: 12px;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  margin-right: 24px;
  margin-left: 24px;
}

[value*="Yeremias"] {
  display: block;
  box-sizing: border-box;
  min-width: 327px;
  height: 48px;
  border-radius: 8px;
  background-color: white;
  border: 1px solid #cfd8dc;
  margin-right: 24px;
  margin-left: 24px;
  margin-top: 87px;
  padding-left: 16px;
  padding-right: 16px;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
}

[value*="natajayan"] {
  padding-right: 16px;
  font-weight: 400;
  box-sizing: border-box;
  font-style: normal;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
  display: block;
  width: 327px;
  height: 48px;
  border-radius: 8px;
  background-color: white;
  border: 1px solid #cfd8dc;
  margin-right: 24px;
  margin-left: 24px;
  margin-top: 20px;
  padding-left: 16px;
}

#message {
  width: 327px;
  box-sizing: border-box;
  height: 170px;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 18px;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
  padding: 15px 38px 15px 16px;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 24px;
}

#message ::placeholder {
  color: #b3bac5;
}

[type*="submit"] {
  width: 140px;
  height: 48px;
  border-radius: 8px;
  background-color: white;
  color: #6070ff;
  font-weight: 500;
  font-style: normal;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 22px;
}
