@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

body {
  font-family: Poppins, sans-serif;
  margin: 0;
  background-color: #e5e5e5;
  overflow-x: hidden;
  display: grid;
  grid-template-areas:
    "header"
    "works"
    "base-about-myself"
    "contact-me";
}

/* Header */

header {
  background-color: white;
  height: 674px;
  width: 100vw;
  border-bottom-left-radius: 14%;
  overflow-x: hidden;
  grid-area: header;
}

nav {
  padding-right: 6.4%;
  padding-left: 6.4%;
  display: flex;
  align-items: center;
  list-style: none;
  height: 48px;
}

nav img {
  display: block;
}

li {
  list-style: none;
}

.distance {
  flex: 1;
}

.logo {
  text-decoration: none;
  width: 40px;
  height: auto;
  border-radius: 50%;
  animation-name: logo;
  animation-duration: 1s;
}

@keyframes logo {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

.headline {
  display: flex;
  flex-direction: column;
  height: 543.15px;
  width: 462px;
  background-image: url("./img/header-shapes-mobile.svg");
}

.headline h1 {
  width: 327px;
  height: 150px;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  line-height: 52px;
  margin-top: 114px;
  color: #172b4d;
  margin-right: 24px;
  margin-left: 24px;
}

.presentation {
  width: 327px;
  height: 146px;
  margin-top: 12px;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-right: 24px;
  margin-left: 24px;
}

.connect {
  height: 24px;
  margin-top: 12px;
  text-transform: uppercase;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  margin-left: 24px;
  color: #7f8cff;
}

.social-media {
  display: flex;
  justify-items: start;
  height: 20px;
  align-items: stretch;
  width: 170.17px;
  margin-left: 24px;
  margin-top: 12px;
}

.icons {
  transform: rotate(0deg);
  transition-property: transform;
  transition-delay: 0s;
  transition-duration: 2s;
}

.icons:hover {
  transform: rotate(360deg);
}

.flex-item {
  flex: 1;
}

.card-works {
  margin-top: 114px;
  box-sizing: border-box;
  background-color: white;
  margin-bottom: 88px;
  width: 87.2%;
  height: 571px;
  border-radius: 16px;
  border: 1px #dfe1e6 solid;
  margin-right: 24px;
  margin-left: 24px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: hidden;
}

[alt*="Snapshoot Portfolio"] {
  width: 295px;
  height: 220px;
  margin-right: auto;
  margin-left: auto;
}

.project-title {
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin-bottom: 12px;
  margin-top: 7px;
}

.frame-2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 75px;
  margin-bottom: 12px;
  width: 236px;
  height: 32px;
  margin-left: -4px;
}

.client {
  font-weight: 600;
  font-style: normal;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  text-transform: uppercase;
}

.role,
.year-label {
  font-weight: 600;
  font-style: normal;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.primary-text {
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-bottom: 12px;
}

.tags {
  display: flex;
  width: 203px;
  height: 24px;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 24px;
  margin-left: -6px;
}

.tag {
  background-color: #ebebff;
  border-radius: 9px;
  padding: 4px 12px;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.button-mobile {
  width: 124px;
  height: 48px;
  border-radius: 8px;
  padding: 12px;
  border: 1px #6070ff solid;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #396df2;
  background-color: inherit;
}

section {
  overflow-x: hidden;
}

.works {
  height: 2854px;
  grid-area: works;
}

.card-works-1 {
  height: 596px;
  box-sizing: border-box;
  background-color: white;
  margin-bottom: 88px;
  width: 87.2%;
  border-radius: 16px;
  border: 1px #dfe1e6 solid;
  margin-right: 24px;
  margin-left: 24px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.top {
  height: 296px;
}

/* footer */

.base-about-myself {
  height: 1263px;
  background-color: white;
  border-top-right-radius: 85px;
  padding: 24px;
  overflow-y: hidden;
  grid-area: base-about-myself;
}

.base-about-myself h2 {
  height: 101px;
  text-align: left;
  margin-bottom: 12px;
  margin-top: 114px;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: 52px;
  color: #172b4d;
}

.top-presentation {
  width: 327px;
  height: 144px;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.top-connect {
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin-top: 12px;
  text-transform: uppercase;
}

.top-social-media {
  display: flex;
  justify-items: start;
  height: 20px;
  align-items: stretch;
  width: 170.17px;
  margin-top: 16px;
}

.normal-button {
  width: 162px;
  height: 48px;
  border-radius: 8px;
  padding: 12px;
  font-weight: 500;
  font-style: normal;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  margin-top: 22px;
  border: 1px solid #6070ff;
  background-color: white;
}

.skill-list {
  width: 327px;
  height: 496px;
  margin-top: 36px;
}

.frame {
  border-bottom: 1px solid #dfe1e6;
  padding-bottom: 24px;
  padding-top: 24px;
}

.frame-summary {
  list-style: none;
  padding-left: 12px;
  background-image: url(./img/chevron-right.svg);
  background-repeat: no-repeat;
  background-position: 279px;
  background-size: 24px 24px;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
}

.frame[open] .frame-summary {
  list-style: none;
  padding-left: 12px;
  background-image: url(./img/chevron-down.svg);
  background-repeat: no-repeat;
  background-position: 279px;
  background-size: 24px 24px;
}

.language-list {
  padding: 12px;
  margin-top: 24px;
}

/* Contact Me */
.contact-me {
  width: 375px;
  height: 779px;
  margin-top: -138px;
  background-color: #6070ff;
  border-top-left-radius: 108px;
  background-image:
    url("./img/contact-form-shapes-mobile@2x.svg"),
    url("./img/Shape.svg");
  background-position: 153px 21px, 120px 766px;
  background-repeat: no-repeat;
  padding-left: 24px;
  overflow-x: hidden;
  grid-area: contact-me;
}

.contact-me h2 {
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: white;
  padding-top: 89px;
  width: 801px;
  height: 56px;
  margin-left: -237px;
}

.contact-me p {
  margin-top: 12px;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  width: 327px;
  height: 102px;
}

[placeholder*="Yeremias"] {
  display: block;
  box-sizing: border-box;
  min-width: 327px;
  height: 48px;
  border-radius: 8px;
  background-color: white;
  border: 1px solid #cfd8dc;
  margin-top: 87px;
  padding-left: 16px;
  padding-right: 16px;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
}

[placeholder*="natajayan"] {
  padding-right: 16px;
  font-weight: 400;
  box-sizing: border-box;
  font-style: normal;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
  display: block;
  width: 327px;
  height: 48px;
  border-radius: 8px;
  background-color: white;
  border: 1px solid #cfd8dc;
  margin-top: 20px;
  padding-left: 16px;
}

#message {
  width: 327px;
  box-sizing: border-box;
  height: 170px;
  margin-top: 18px;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
  padding: 15px 38px 15px 16px;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 24px;
}

#message ::placeholder {
  color: #b3bac5;
}

[type*="submit"] {
  width: 140px;
  height: 48px;
  border-radius: 8px;
  background-color: white;
  color: #6070ff;
  font-weight: 500;
  font-style: normal;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 22px;
  border: transparent;
}

form {
  display: flex;
  flex-direction: column;
  width: 327px;
}

/* Button States */

button {
  transition: color 0.5s, background-color 0.5s;
}

button:hover {
  background-color: #6070ff;
  color: white;
}

button:active {
  background-color: #2230d2;
  color: white;
}

button:disabled {
  color: #5e6c84;
}

.desktop {
  display: none;
}

.modal {
  width: 91.4%;
  height: 750px;
  margin-right: 16px;
  margin-left: 16px;
  z-index: 10000;
  display: none;
}

.modal-header {
  display: flex;
  align-items: center;
  width: 100.1%;
  height: auto;
}

.modal-header-desktop {
  display: flex;
  align-items: center;
  width: 95%;
  height: 86px;
  margin-left: 1%;
}

.modal-header-desktop h2 {
  flex: 1;
}

#modal-desktop {
  display: none;
}

.row {
  display: flex;
  width: 91.27%;
  margin-left: 4.25%;
  margin-right: 4.25%;
}

.col-1 {
  flex: 1 1 70%;
}

.col-2 {
  flex: 1 1 35%;
}

.modal-header h2 {
  flex: 1;
}

.modal-image {
  margin-bottom: 12px;
}

.modal-image-desktop {
  margin-bottom: 12px;
  width: 100%;
  height: 50.38%;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-group {
  display: flex;
  justify-content: space-between;
}

.modal-button {
  display: flex;
  justify-content: space-between;
  width: 154px !important;
}

.live-icon {
  margin-bottom: 0;
}

@media only screen and (min-width: 992px) {
  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }

  header {
    width: 100vw;
    height: 916px;
    overflow-y: hidden;
  }

  nav {
    padding-right: 11.07%;
    padding-left: 11.07%;
  }

  a {
    text-decoration: none;
  }

  .portfolio,
  .about,
  .contact {
    margin-right: 2.28%;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
  }

  .headline {
    background-image: url("./img/Header-bg.svg");
    background-repeat: no-repeat;
    width: 1397.4px;
    height: 721.46px;
    background-size: contain;
    margin-left: 13.6px;
    margin-top: 5.13%;
    overflow-y: hidden;
  }

  .headline h1 {
    width: 920px;
    height: 98px;
    padding-left: 225.4px;
    margin-top: 241px;
  }

  .presentation {
    width: 742px;
    height: 98px;
    padding-left: 16.12%;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 28px;
    margin-top: 12px;
  }

  .connect {
    padding-left: 16.12%;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    margin-top: 0;
  }

  .social-media {
    padding-left: 16.12%;
  }

  [alt*="Snapshoot Portfolio"] {
    width: 544px;
    height: 448px;
    margin-top: 24px;
    margin-left: 24px;
  }

  .card-works-desktop {
    height: 496px;
    width: 93.57%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-areas:
      "image title"
      "image left-block";
    grid-template-columns: 1fr 1fr;
    background-color: white;
    margin-top: 142px;
    border-radius: 24px;
    box-sizing: unset;
  }

  .project-title-desktop {
    grid-area: title;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
    margin-left: 46px;
    margin-top: 48px;
  }

  .left-block {
    grid-area: left-block;
    margin-left: 46px;
    margin-top: -394.83px;
  }

  .client-desktop {
    font-weight: 500;
    font-style: normal;
    line-height: 24px;
    font-size: 18px;
    text-transform: uppercase;
    color: #344563;
    margin-right: 8.36px;
  }

  .role-desktop {
    font-style: normal;
    line-height: 24px;
    font-size: 18px;
    font-weight: 400;
    color: #6b778c;
    margin-left: 8.36px;
    margin-right: 8.36px;
  }

  .frame-2-desktop {
    display: flex;
    width: 297px;
    align-items: center;
    justify-content: space-around;
    margin-right: 75px;
    margin-bottom: 24px;
    height: 40px;
    font-size: 18px;
    padding-top: 20px;
  }

  .year-label-desktop {
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    color: #6b778c;
    margin-left: 8.36px;
    margin-right: 8.36px;
  }

  .primary-text-desktop {
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    margin-bottom: 24px;
    margin-right: 21px;
  }

  .tags-desktop {
    display: flex;
    width: 203px;
    height: 24px;
    align-items: center;
    justify-content: space-around;
    margin-left: -6px;
    font-weight: 500;
    font-style: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
  }

  .button-desktop {
    margin-top: 44px;
    width: 124px;
    height: 48px;
    border-radius: 8px;
    padding: 12px;
    border: 1px #6070ff solid;
    margin-left: -6px;
  }

  .card-works-desktop-1 {
    height: 496px;
    width: 93.57%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-areas:
      "title image"
      "left-block-1 image";
    grid-template-columns: 1fr 1fr;
    background-color: white;
    margin-top: 142px;
    border-radius: 24px;
    box-sizing: unset;
  }

  .tags-desktop-width {
    width: 316px;
  }

  .project-title-desktop-1 {
    grid-area: title;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
    margin-right: 46px;
    margin-top: 48px;
    margin-left: 48px;
  }

  .left-block-1 {
    grid-area: left-block-1;
    margin-left: 48px;
    margin-top: -394.83px;
  }

  .frame-2-desktop-width {
    width: 320px;
  }

  .works {
    width: 100vw;
  }

  .base-about-myself-desktop {
    display: grid;
    grid-template-areas:
      "title skill-list"
      "top skill-list";
    grid-template-columns: 1fr 1.5fr;
    height: 924px;
    width: 100vw;
    color: #091e42;
    border-top-right-radius: 269px;
    background-color: white;
    overflow-y: hidden;
    grid-area: base-about-myself;
  }

  .base-about-myself-desktop h2 {
    grid-area: title;
    margin-left: 142px;
    margin-top: 142px;
    margin-bottom: 12px;
  }

  .top {
    grid-area: top;
    margin-top: -336.05px;
    margin-left: 142px;
    height: 298px;
    width: 321px;
  }

  .top-social-media {
    margin-left: 6.4px;
  }

  .skill-list {
    grid-area: skill-list;
    margin-top: 142px;
    width: 684px;
  }

  .frame-summary {
    background-position: 632px;
    color: #344563;
  }

  .frame[open] .frame-summary {
    background-position: 632px;
  }

  .language-list img {
    margin-right: 12px;
    width: 122px;
    height: 120px;
  }

  .normal-button {
    text-transform: capitalize;
    margin-top: 34px;
    margin-right: -1px;
    background-color: white;
  }

  .contact-me-desktop {
    height: 846px;
    width: 100vw;
    background-color: #6070ff;
    border-top-left-radius: 108px;
    background-image: url(./img/contact-form-background-shapes.svg);
    background-position: 75.34px 79.09px;
    background-size: 1290.66px 718.7px;
    background-repeat: no-repeat;
    overflow-x: hidden;
    grid-area: contact-me;
    margin-top: -256px;
  }

  .contact-me-desktop h2 {
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    color: white;
    padding-top: 142px;
    height: 56px;
    width: 100vw;
    margin-left: 0.1px;
  }

  .contact-me-desktop p {
    margin-top: 12px;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #ebebff;
    height: 102px;
    width: 395.13px;
    margin-right: auto;
    margin-left: auto;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 447px;
    margin-left: auto;
    margin-right: auto;
  }

  [placeholder*="Alexandra"] {
    display: block;
    box-sizing: border-box;
    width: 447px;
    height: 48px;
    background-color: white;
    border: 1px solid #cfd8dc;
    margin-top: 33px;
    padding-left: 16px;
    padding-right: 16px;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
    line-height: 20px;
    color: #172b4d;
  }

  [placeholder*="alexandra"] {
    padding-right: 16px;
    font-weight: 400;
    box-sizing: border-box;
    font-style: normal;
    font-size: 17px;
    line-height: 20px;
    color: #172b4d;
    display: block;
    width: 447px;
    height: 48px;
    background-color: white;
    border: 1px solid #cfd8dc;
    margin-top: 20px;
    padding-left: 16px;
  }

  #message-desktop {
    width: 447px;
    box-sizing: border-box;
    height: 170px;
    margin-top: 18px;
    border: 1px solid #cfd8dc;
    padding: 15px 38px 15px 16px;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    line-height: 24px;
  }

  .get-in-touch {
    width: 140px;
    height: 48px;
    border-radius: 8px;
    background-color: white;
    color: #6070ff;
    font-weight: 500;
    font-style: normal;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: center;
    margin-top: 22px;
    border: transparent;
    margin-left: 34.34%;
  }

  img:hover {
    transform: scale(1.07);
  }

  .contact-me-desktop > *:hover {
    transform: translate(7px, 0);
  }
}
