@use 'variables' as *;

@media (min-width: 570px) {
  .modal {
    margin: 3rem 0;
    width: 70%;
  }
}

@media (min-width: 800px) {
  .modal {
    width: 60%;
  }
}

@media (min-width: 992px) {
  .navbar {
    padding: 1.5rem 8rem;

    &__menu {
      display: flex;
      align-items: center;

      &__li {
        margin: 0 16px;
      }
    }

    &__hamb {
      display: none;
    }
  }

  .head::before {
    background-image: url(../images/desktop/headline-background.svg);
    padding: 6rem;
    border-bottom-left-radius: 8rem;
  }

  .head {
    padding: 10rem;
    padding-right: 15rem;

    &__title {
      span {
        width: 15ch;
      }
    }

    &__link {
      margin: 0.7rem 0;
    }
  }

  .works {
    &__cards {
      padding: 5rem;
    }

    &__card {
      align-items: center;
      max-width: 1104px;
      column-gap: 46px;
      padding: 1.5rem;

      &__text {
        padding: 1rem;
      }

      &__img {
        width: 50%;
      }
    }

    &__card:nth-child(1),
    &__card:nth-child(3) {
      flex-direction: row;
    }

    &__card:nth-child(2),
    &__card:nth-child(4) {
      flex-direction: row-reverse;
    }
  }

  .about {
    padding: 6rem;
    flex-direction: row;
    column-gap: 37px;
    border-top-right-radius: 8rem;

    &__myself {
      flex-basis: 25rem;
    }

    &__lang {
      &__bottom {
        display: flex;
        column-gap: 12px;

        li {
          flex-direction: column;
          align-items: flex-start;
          flex-basis: 7.6rem;
        }
      }
    }

    &__tools {
      flex-basis: 25rem;
    }
  }

  .contact::before {
    background-image: url(../images/desktop/contact-form-background.svg);
    padding: 1rem;
    border-top-left-radius: 8rem;
  }

  .contact {
    padding: 6rem 8.875rem;
    background: $clr-neutral-100;

    &__dsc {
      max-width: 570px;
    }

    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;

      form {
        li {
          input,
          textarea {
            max-width: 447px;
          }
        }

        li:nth-child(4),
        li:nth-child(5) {
          text-align: center;
        }
      }
    }
  }

  .modal {
    width: 70%;

    .image-project {
      margin-inline: auto;
      width: 70%;
    }

    &__image {
      width: 100%;
    }

    &__dsc {
      flex-direction: row;
      gap: 2rem;

      &__first {
        flex-basis: 60%;
      }

      &__second {
        flex-basis: 40%;
      }
    }
  }
}

@media (min-width: 1440px) {
  .fz-40 {
    font-size: 48px;
  }

  .fz-16 {
    font-size: 20px;
  }

  .fz-15 {
    font-size: 16px;
  }

  .fz-13 {
    font-size: 18px;
  }

  .lh-52 {
    line-height: 60px;
  }

  .lh-24 {
    line-height: 28px;
  }

  .navbar {
    padding: 1.5rem 9.68rem;
  }

  .head {
    padding: 17rem 16.25rem;
    padding-right: 18vw;
  }

  .works {
    &__cards {
      padding: 8.8rem;
    }
  }

  .about {
    padding: 7.125rem;

    &__myself {
      flex-basis: 37rem;
    }

    &__tools {
      flex-basis: 38rem;
    }
  }

  .contact::before {
    padding: 3.5rem;
  }

  .contact {
    padding: 8.875rem;
    padding-bottom: 7.9rem;
  }

  .modal {
    width: 60%;

    .image-project {
      margin-inline: auto;
      width: 65%;
    }
  }
}
