@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');
$ff-poppins: 'Poppins', sans-serif;
$clr-primary-400:#6070ff;
$clr-primary-500: #396df2;
$clr-primary-700: #2230d2;
$clr-primary-300: #7f8cff;
$clr-primary-50: #ebebff;
$clr-neutral-900: #000;
$clr-neutral-800: #172b4d;
$clr-neutral-700: #253858;
$clr-neutral-600: #344563;
$clr-neutral-500: #7a869a;
$clr-neutral-300: #f7f7f9;
$clr-neutral-100: #fff;
